<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180558732709-vhfv9sni2ehrc42evefq9n7evnj3to5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180558732709-vhfv9sni2ehrc42evefq9n7evnj3to5s</string>
	<key>API_KEY</key>
	<string>AIzaSyDQLlUC-yr17Hh4JXOhy-VpNo4dbv2_mHg</string>
	<key>GCM_SENDER_ID</key>
	<string>180558732709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-a7ecf</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-a7ecf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180558732709:ios:73a0f49aebacc947879c4c</string>
</dict>
</plist>